{% extends 'articulos/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-10">
            <div class="post">
                <a class="btn btn-default" href="{% url 'publicacion_editar' pk=publicacion.pk %}"><span class="fa fa-pencil"></span></a>
                <h2 style="color: #dcdde1;">{{ publicacion.titulo }}</h2>
                {% if publicacion.fecha_publicacion %}
                <div class="date" style=" color: #bdc3c7;">
                    {{ publicacion.fecha_publicacion }}
                </div>
                {% endif %}
                <p style="color: #dcdde1;">{{ publicacion.textp|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}