{% extends 'articulos/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-10">
            <div class="post">
                <h2 style="color: #dcdde1; margin-bottom: 0%;">{{ publicacion.titulo }}</h2>
                 e<a class="btn btn-default" href="{% url 'publicacion_editar' pk=publicacion.pk %}"><span class="fa fa-pencil" style="color: white;"></span></a>
                {% if publicacon.fecha_publicacion %}
                    <div class="date" style="color: white;">
                        {{ publicacion.fecha_publicacion }}
                    </div>
                {% else %}
                    <a style="color: white;" class="btn btn-default" href="{% url 'publicacion_publicar' pk=publicacion.pk %}">Publicar</a>
                    <a class="btn btn-default" href="{% url 'publicacion_eliminar' pk=publicacion.pk %}"><span class="fa fa-remove fa-fw" style="color: white;"></span></a>
                
                {% endif %}
                
                <br /><br />
                <p style="color: #dcdde1;">{{ publicacion.textp|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}