{% extends 'articulos/base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="d-flex flex-row bd-highlight mb-3">
            {% for publicacion in publicaciones %}
                <div class="card post" style="width: 18rem; margin: 1rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ publicacion.titulo }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted date">{{ publicacion.fecha_publicacion }}</h6>
                      <p class="card-text contenido">{{publicacion.textp}}</p>
                      <a href="{% url 'publicacion_detalle' pk=publicacion.pk %}" class="card-link">Detalles</a>
                    </div>
                  </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}